site_name: Documentation
nav:
  - Home: index.md
  - User Guide: user_guide.md
  - API reference: api.md
  - About: about.md

theme:
  name: material
  palette:
    primary: teal
  font:
    text: Mukta
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - search.suggest
    - content.code.copy
  logo: img/logo_white.png
  favicon: img/favicon.ico

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            members_order: alphabetical
            filters:
              - "^(?!__).*"
            merge_init_into_class: True
            docstring_style: numpy
            show_bases: False
            show_source: False
            show_root_heading: True
            show_root_full_path: False
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            separate_signature: true
            show_signature_annotations: False
  - search

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/antoineedy
    - icon: fontawesome/brands/github
      link: https://github.com/antoineedy
    - icon: fontawesome/solid/paper-plane
      link: mailto:antoineedy@outlook.fr
  generator: false

repo_url: https://github.com/antoineedy/istacky
repo_name: antoineedy/istacky

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
